USE [Parking_DW4]
GO
/****** Object:  Table [dbo].[DimPayment]    Script Date: 20/07/2025 9:25:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPayment](
	[PaymentKey] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [varchar](100) NULL,
	[IsDigital] [bit] NULL,
	[MethodDescription] [varchar](255) NULL,
	[SourceName] [varchar](100) NULL,
	[IsOnline] [bit] NULL,
	[SourceDescription] [varchar](255) NULL,
	[MethodID] [int] NULL,
	[SourceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTime]    Script Date: 20/07/2025 9:25:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTime](
	[TimeKey] [int] IDENTITY(1,1) NOT NULL,
	[FullDate] [date] NOT NULL,
	[Day] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[Week] [int] NOT NULL,
	[DayName] [nvarchar](20) NOT NULL,
	[MonthName] [nvarchar](20) NOT NULL,
	[Bimester] [int] NOT NULL,
	[Trimester] [int] NOT NULL,
	[Semester] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimVehicle]    Script Date: 20/07/2025 9:25:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimVehicle](
	[VehicleKey] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[Plate] [nvarchar](20) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Color] [nvarchar](30) NULL,
	[VehicleType] [nvarchar](50) NULL,
 CONSTRAINT [PK__DimVehic__1B135AABAE64E215] PRIMARY KEY CLUSTERED 
(
	[VehicleKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactParkingPayments]    Script Date: 20/07/2025 9:25:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactParkingPayments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[TimeKey] [int] NOT NULL,
	[VehicleKey] [int] NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[DurationMinutes] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[LocationName] [nvarchar](100) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Neighborhood] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[Capacity] [int] NULL,
	[State] [nvarchar](100) NULL,
	[PaymentKey] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactParkingPayments]  WITH CHECK ADD  CONSTRAINT [FK_FactParkingPayments_DimPayment] FOREIGN KEY([PaymentKey])
REFERENCES [dbo].[DimPayment] ([PaymentKey])
GO
ALTER TABLE [dbo].[FactParkingPayments] CHECK CONSTRAINT [FK_FactParkingPayments_DimPayment]
GO
ALTER TABLE [dbo].[FactParkingPayments]  WITH CHECK ADD  CONSTRAINT [FK_FactParkingPayments_DimTime] FOREIGN KEY([TimeKey])
REFERENCES [dbo].[DimTime] ([TimeKey])
GO
ALTER TABLE [dbo].[FactParkingPayments] CHECK CONSTRAINT [FK_FactParkingPayments_DimTime]
GO
ALTER TABLE [dbo].[FactParkingPayments]  WITH CHECK ADD  CONSTRAINT [FK_FactParkingPayments_DimVehicle] FOREIGN KEY([VehicleKey])
REFERENCES [dbo].[DimVehicle] ([VehicleKey])
GO
ALTER TABLE [dbo].[FactParkingPayments] CHECK CONSTRAINT [FK_FactParkingPayments_DimVehicle]
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertDimTime_CompletoV2]    Script Date: 20/07/2025 9:25:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_InsertDimTime_CompletoV2]
AS
BEGIN
    DECLARE @StartDate DATE = '2021-01-01';
    DECLARE @EndDate DATE = '2025-12-31';

    WITH DateRange AS (
        SELECT @StartDate AS DateValue
        UNION ALL
        SELECT DATEADD(DAY, 1, DateValue)
        FROM DateRange
        WHERE DateValue < @EndDate
    )
    INSERT INTO DimTime (
        FullDate, Day, Month, Year, Week, 
        DayName, MonthName, 
        Bimester, Trimester, Semester
    )
    SELECT
        DateValue,
        DAY(DateValue),
        MONTH(DateValue),
        YEAR(DateValue),
        DATEPART(WEEK, DateValue),
        DATENAME(WEEKDAY, DateValue),
        DATENAME(MONTH, DateValue),
        CEILING(MONTH(DateValue) / 2.0),
        CEILING(MONTH(DateValue) / 3.0),
        CEILING(MONTH(DateValue) / 6.0)
    FROM DateRange dr
    WHERE NOT EXISTS (
        SELECT 1 FROM DimTime dt WHERE dt.FullDate = dr.DateValue
    )
    OPTION (MAXRECURSION 0);
END
GO
