USE [BIGDATA_5]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 20/07/2025 9:23:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Brand__DAD4F3BE7A2C1266] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 20/07/2025 9:23:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[ColorID] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [varchar](30) NOT NULL,
 CONSTRAINT [PK__Color__8DA7676DEF996609] PRIMARY KEY CLUSTERED 
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locality]    Script Date: 20/07/2025 9:23:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locality](
	[LocalityID] [int] IDENTITY(1,1) NOT NULL,
	[LocalityName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationGroup]    Script Date: 20/07/2025 9:23:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationGroup](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [varchar](100) NOT NULL,
	[Address] [varchar](200) NULL,
	[Capacity] [int] NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[NeighborhoodID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Neighborhood]    Script Date: 20/07/2025 9:23:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Neighborhood](
	[NeighborhoodID] [int] IDENTITY(1,1) NOT NULL,
	[NeighborhoodName] [varchar](100) NOT NULL,
	[LocalityID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NeighborhoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingPayments]    Script Date: 20/07/2025 9:23:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingPayments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[LocationID] [int] NOT NULL,
	[MethodID] [int] NOT NULL,
	[SourceID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 20/07/2025 9:23:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[MethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [varchar](50) NOT NULL,
	[IsDigital] [bit] NULL,
	[Description] [varchar](255) NULL,
 CONSTRAINT [PK__PaymentM__FC681FB1997978B8] PRIMARY KEY CLUSTERED 
(
	[MethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentSource]    Script Date: 20/07/2025 9:23:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentSource](
	[SourceID] [int] IDENTITY(1,1) NOT NULL,
	[SourceName] [varchar](100) NOT NULL,
	[IsOnline] [bit] NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 20/07/2025 9:23:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[Plate] [varchar](10) NOT NULL,
	[BrandID] [int] NOT NULL,
	[ColorID] [int] NOT NULL,
	[VehicleTypeID] [int] NOT NULL,
 CONSTRAINT [PK__Vehicle__476B54B27353F826] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleType]    Script Date: 20/07/2025 9:23:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleType](
	[VehicleTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocationGroup]  WITH CHECK ADD FOREIGN KEY([NeighborhoodID])
REFERENCES [dbo].[Neighborhood] ([NeighborhoodID])
GO
ALTER TABLE [dbo].[Neighborhood]  WITH CHECK ADD FOREIGN KEY([LocalityID])
REFERENCES [dbo].[Locality] ([LocalityID])
GO
ALTER TABLE [dbo].[ParkingPayments]  WITH CHECK ADD FOREIGN KEY([LocationID])
REFERENCES [dbo].[LocationGroup] ([LocationID])
GO
ALTER TABLE [dbo].[ParkingPayments]  WITH CHECK ADD  CONSTRAINT [FK__ParkingPa__Metho__4F7CD00D] FOREIGN KEY([MethodID])
REFERENCES [dbo].[PaymentMethod] ([MethodID])
GO
ALTER TABLE [dbo].[ParkingPayments] CHECK CONSTRAINT [FK__ParkingPa__Metho__4F7CD00D]
GO
ALTER TABLE [dbo].[ParkingPayments]  WITH CHECK ADD FOREIGN KEY([SourceID])
REFERENCES [dbo].[PaymentSource] ([SourceID])
GO
ALTER TABLE [dbo].[ParkingPayments]  WITH CHECK ADD  CONSTRAINT [FK__ParkingPa__Vehic__4D94879B] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicle] ([VehicleID])
GO
ALTER TABLE [dbo].[ParkingPayments] CHECK CONSTRAINT [FK__ParkingPa__Vehic__4D94879B]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK__Vehicle__BrandID__44FF419A] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK__Vehicle__BrandID__44FF419A]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK__Vehicle__ColorID__45F365D3] FOREIGN KEY([ColorID])
REFERENCES [dbo].[Color] ([ColorID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK__Vehicle__ColorID__45F365D3]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK__Vehicle__Vehicle__46E78A0C] FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleType] ([VehicleTypeID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK__Vehicle__Vehicle__46E78A0C]
GO
/****** Object:  StoredProcedure [dbo].[InsertarDatosSimulados_V2]    Script Date: 20/07/2025 9:23:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarDatosSimulados_V2]
AS
BEGIN
    SET NOCOUNT ON;

    -- Paso 1: Insertar 120 vehículos nuevos aleatorios
    DECLARE @iVehicle INT = 0;
    DECLARE @Plate VARCHAR(10), @BrandID INT, @ColorID INT, @VehicleTypeID INT;

    WHILE @iVehicle < 120
    BEGIN
        -- Generar placa aleatoria (formato AAA123)
        SET @Plate = 
            CHAR(65 + FLOOR(RAND() * 26)) + 
            CHAR(65 + FLOOR(RAND() * 26)) + 
            CHAR(65 + FLOOR(RAND() * 26)) + 
            RIGHT('000' + CAST((ABS(CHECKSUM(NEWID())) % 1000) AS VARCHAR), 3);

        -- Elegir IDs aleatorios reales
        SELECT TOP 1 @BrandID = BrandID FROM Brand ORDER BY NEWID();
        SELECT TOP 1 @ColorID = ColorID FROM Color ORDER BY NEWID();
        SELECT TOP 1 @VehicleTypeID = VehicleTypeID FROM VehicleType ORDER BY NEWID();

        -- Insertar solo si la placa no existe ya
        IF NOT EXISTS (SELECT 1 FROM Vehicle WHERE Plate = @Plate)
        BEGIN
            INSERT INTO Vehicle (Plate, BrandID, ColorID, VehicleTypeID)
            VALUES (@Plate, @BrandID, @ColorID, @VehicleTypeID);

            SET @iVehicle += 1;
        END
    END

    -- Paso 2: Insertar 150 pagos simulados
    DECLARE @i INT = 0;
    DECLARE @VehicleID INT, @LocationID INT, @MethodID INT, @SourceID INT;
    DECLARE @StartTime DATETIME, @EndTime DATETIME, @Duration INT;
    DECLARE @Amount DECIMAL(10, 2);

    WHILE @i < 150
    BEGIN
        -- Fechas aleatorias entre 2021 y 2025
        SET @StartTime = DATEADD(MINUTE, ABS(CHECKSUM(NEWID())) % 2102400, '2021-01-01');
        SET @Duration = ABS(CHECKSUM(NEWID())) % 180 + 15;
        SET @EndTime = DATEADD(MINUTE, @Duration, @StartTime);

        SET @Amount = ROUND(1 + (RAND() * 20), 2);

        -- Selección aleatoria de datos existentes
        SELECT TOP 1 @VehicleID = VehicleID FROM Vehicle ORDER BY NEWID();
        SELECT TOP 1 @LocationID = LocationID FROM LocationGroup ORDER BY NEWID();
        SELECT TOP 1 @MethodID = MethodID FROM PaymentMethod ORDER BY NEWID();
        SELECT TOP 1 @SourceID = SourceID FROM PaymentSource ORDER BY NEWID();

        -- Insertar registro de pago
        INSERT INTO ParkingPayments (
            SourceID, MethodID, LocationID, StartTime, EndTime, Amount, VehicleID
        )
        VALUES (
            @SourceID, @MethodID, @LocationID, @StartTime, @EndTime, @Amount, @VehicleID
        );

        SET @i += 1;
    END
END
GO
